In [ ]:
import array as arr
numbers = arr.array('i', [9, 11, 5, 26, 98, 23, 6, 24, 77, 3])

print("Array Items", list(numbers))
print("First Item = " , numbers[0])
print("Last Item = ", numbers[-1])

total_sum = sum(numbers)
print("Total Sum = ", total_sum)

Array Items [9, 11, 5, 26, 98, 23, 6, 24, 77, 3]
First Item =  9
Last Item =  3
Total Sum =  282

In [ ]:
import array as arr

numbers = arr.array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
numbers.append(23)
print("Array Items", list(numbers))

Array Items [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 23]

In [ ]:
import array as arr
numbers = arr.array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
numbers.insert(1,37)
print("Array Items", list(numbers))

Array Items [1, 37, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
import array as arr

numbers = arr.array('i', [5, 4, 3, 2, 1])
numbers.reverse()
print("Array Items", list(numbers))

Array Items [1, 2, 3, 4, 5]

In [ ]:
import array as arr

numbers = arr.array('i', [5, 4, 3, 2, 1])
print("Array Items =", list(numbers))
print("Length of an array = ", len(numbers))

Array Items = [5, 4, 3, 2, 1]
Length of an array =  5